<div #alertAdd class="alert alert-success alert-dismissible fade " role="alert">
      <strong>Added!</strong> Your shipper has been added.
</div>

<div #alertError class="alert alert-danger alert-dismissible fade" role="alert">
      <strong>Error!</strong> An error occurred.
</div>

<div #alertDelete class="alert alert-warning alert-dismissible fade" role="alert">
      <strong>Deleted!</strong> Your shipper has been deleted.
</div>

<div #alertUpdate class="alert alert-info alert-dismissible fade" role="alert">
      <strong>Updated!</strong> Your shipper has been updated.
</div>