<div id="deleteModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">				
					<h4 class="modal-title">Delete Shipper</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>Are you sure you want to delete these Shipper?</p>
					<p>ID: {{shipper.ShipperID}}</p>
					<p>Company Name: {{shipper.CompanyName}}</p>
					<p>Phone: {{shipper.Phone}}</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="button" (click)="deleteShipper(shipper.ShipperID)"class="btn btn-danger"
					data-dismiss="modal" value="Delete">
				</div>
			</form>
		</div>
	</div>
</div>
